.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1a4b84;;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    gap: 16px;
}