/* src\components\Header\style.css */

.header-container {
    background: linear-gradient(90deg,rgba(0, 51, 102, 1) 0%, rgba(29, 137, 253, 1) 48%, rgba(0, 51, 102, 1) 84%);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex; 
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}
