/* src\components\Header\style.css */

.header-container {
    background-color: rgb(7, 57, 90);
    color: white; 
    text-align: center;
    padding: 20px; 
    position: fixed;
    width: 100%;
    top: 0%;
    /* display: flex;  */
}


.logo {
    font-size: 24px; 
    font-weight: bold; 
    letter-spacing: 1px; 
}
