.contato {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f7f9fa 0%, #eef1f4 100%);
  color: #333;
  padding: 60px 30px;
  max-width: 900px;
  margin: 80px auto;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  line-height: 1.6;
  transition: all 0.3s ease;
}

/* .contato:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
} */

.contato h1 {
  font-size: 2.4rem;
  color: #1c1c1c;
  margin-bottom: 15px;
  border-bottom: 3px solid #0077b6;
  display: inline-block;
  padding-bottom: 8px;
  letter-spacing: 0.5px;
}

.contato p {
  font-size: 1.05rem;
  color: #444;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}


.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field span {
  font-weight: 600;
  color: #03496b;
  font-size: 0.95rem;
  text-align: left;
}

.field input,
.field textarea {
  padding: 12px 14px;
  border: 1px solid #cbe8ff;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background: #fff;
  transition: all 0.2s ease;
  resize: none;
}

.field input:focus,
.field textarea:focus {
  border-color: #0077b6;
  box-shadow: 0 0 0 3px rgba(0, 119, 182, 0.15);
  outline: none;
}


.btn.primary {
    width: 100%;
  align-self: flex-start;
  background: #0077b6;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn.primary:hover {
  background: #005f8f;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}