/* src\components\Footer\style.css  */


.footer-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #065465;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    bottom: 0;
}