.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: rgb(20, 111, 153);
    padding: 16px 32px;
    position: fixed;
    width: 100%;
    top: 0%;
    /* display: flex;  */
}

.logo img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-left: 24px;
}


nav {
    display: flex;
    gap: 32px;
    margin-right: 24px;
}


nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #1a4b84;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
 
}

nav a.active {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 2px;
}